.form{
    margin: 0.3%;
    padding: 10%;
}

.submit{
    margin-top: 5%;

    
}

.heading{
    background-color: rgb(75, 75, 246);
    padding: 3%;
}

.t1{
    color:white;
}
.box2{
    margin: 3%;
}

